* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Manrope', sans-serif;
}

@media (max-width: 300px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 13px;
  }
}

body {
  min-height: 95vh;
  position: relative;
  padding-bottom: 10vh;
  background-color: #fafbff;
  background-image: url(../images/pattern-circles.svg), url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-position: center 60px, 0 -50px;
}

@media (min-width: 768px) {
  body {
    background-position: center 80px, 0 0;
  }
}

@media (min-width: 1024px) {
  body {
    background-position: center 120px, 0 0;
  }
}

@media (min-width: 1200px) {
  body {
    background-position: center 70px, 0 0;
  }
}

@media (min-width: 1440px) {
  body {
    background-size: auto, 100%;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  /* Hide default HTML checkbox */
  /* The slider */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:checked + .slider--switch {
  background-color: #a5f3eb;
}

.switch input:checked + .slider--switch:before {
  -webkit-transform: translateX(22px);
  transform: translateX(22px);
}

.switch .slider--switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdd7ee;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider--switch:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Rounded sliders */
.round {
  border-radius: 24px;
}

.round:hover {
  background-color: #a5f3eb;
}

.round:before {
  border-radius: 50%;
}

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .slidecontainer {
    max-width: 400px;
  }
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#a5f3eb), color-stop(50%, #a5f3eb), color-stop(50%, #eaeefb), to(#eaeefb));
  background: linear-gradient(to right, #a5f3eb 0%, #a5f3eb 50%, #eaeefb 50%, #eaeefb 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #10d5c2;
  cursor: pointer;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0 10px 25px 0 #10d5c2;
          box-shadow: 0 10px 25px 0 #10d5c2;
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #10d5c2;
  cursor: pointer;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slider-drag::-webkit-slider-thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background: #0ebeac;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slider-drag::-moz-range-thumb {
  cursor: grabbing;
  background: #0ebeac;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slider::-moz-range-progress {
  background-color: #a5f3eb;
  height: 8px;
  border-radius: 4px;
}

.slider::-ms-fill-lower {
  background-color: #a5f3eb;
  height: 8px;
  border-radius: 4px;
}

.slider::-ms-fill-upper {
  background-color: #eaeefb;
  height: 8px;
  border-radius: 4px;
}

.header {
  padding: 90px 5% 70px;
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    padding: 120px 15% 90px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 150px 20% 120px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 100px 30%;
  }
}

.header__title {
  padding-bottom: 10px;
  color: #293356;
  font-size: 2rem;
  font-weight: 800;
}

@media (min-width: 1200px) {
  .header__title {
    font-size: 2.4rem;
  }
}

.header__txt {
  padding: 0 20%;
  color: #858fad;
  font-size: 1.5rem;
  line-height: 1.5;
}

@media (min-width: 1200px) {
  .header__txt {
    padding: 0;
    font-size: 1.2rem;
  }
}

.offer {
  margin: 0 auto;
  width: 86%;
  max-width: 700px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 30px -15px #cfcfcf;
          box-shadow: 0 5px 30px -15px #cfcfcf;
  background-color: white;
  text-align: center;
}

@media (min-width: 1200px) {
  .offer {
    max-width: 600px;
  }
}

.pricing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 1fr;
      grid-template-columns: 60% 1fr;
  row-gap: 5px;
  padding: 10% 8%;
  border-bottom: 1px solid rgba(205, 215, 238, 0.5);
}

@media (max-width: 300px) {
  .pricing {
    padding: 5%;
  }
}

@media (min-width: 1200px) {
  .pricing {
    -ms-grid-columns: 1fr 1fr auto;
        grid-template-columns: 1fr 1fr auto;
    padding: 8% 10%;
  }
}

.pricing__pageviews {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
  color: #858fad;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

@media (min-width: 1200px) {
  .pricing__pageviews {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.pricing__slider {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/3/3;
  padding: 30px 0;
}

@media (min-width: 1200px) {
  .pricing__slider {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 2/1/3/4;
  }
}

.pricing__price {
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 3.2rem;
  font-weight: 800;
}

@media (min-width: 1200px) {
  .pricing__price {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
  }
}

.pricing__period {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 5%;
  font-size: 1.4rem;
  color: #858fad;
}

@media (min-width: 1200px) {
  .pricing__period {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1/3/2/4;
  }
}

.pricing__switcher {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4/1/5/3;
}

@media (min-width: 1200px) {
  .pricing__switcher {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 3/1/4/4;
  }
}

.switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 80%;
  max-width: 250px;
  margin: 0 auto;
  padding: 30px 0 5px;
}

@media (min-width: 1200px) {
  .switcher {
    padding-top: 10px;
    max-width: 280px;
  }
}

.switcher__discount {
  position: absolute;
  width: 40px;
  right: calc(-40px - 5px);
  padding: 2px;
  background-color: #feece7;
  border-radius: 20px;
}

@media (min-width: 1200px) {
  .switcher__discount {
    width: 100px;
    right: calc((-100px - 10px));
  }
}

.txt {
  font-size: 1.2rem;
  color: #858fad;
}

@media (min-width: 1200px) {
  .txt {
    font-size: 1.1rem;
  }
}

.txt--discount {
  color: #ff8c66;
  font-size: 1rem;
  font-weight: 800;
}

@media (min-width: 1200px) {
  .txt--discount {
    font-size: 0.9rem;
  }
}

.description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 6% 10% 10%;
}

@media (max-width: 300px) {
  .description {
    padding: 5%;
  }
}

@media (min-width: 1200px) {
  .description {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 5% 10%;
  }
}

.description__list {
  list-style: none;
}

@media (min-width: 1200px) {
  .description__list {
    text-align: left;
  }
}

.description__item {
  line-height: 2.3;
}

@media (min-width: 1200px) {
  .description__item {
    line-height: 2;
  }
}

.description__icon {
  padding-right: 15px;
}

.description__btn {
  height: 40px;
  padding: 0 45px;
  margin-top: 30px;
  background-color: #293356;
  color: #bdccff;
  border: none;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 800;
}

.description__btn:hover {
  cursor: pointer;
  color: white;
}

@media (max-width: 300px) {
  .description__btn {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .description__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-top: 0;
    max-width: 220px;
    font-size: 1rem;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 5px;
}

.footer .attribution {
  font-size: 11px;
  text-align: center;
}

.footer .attribution a {
  color: #3e52a3;
}
