@import 'reset';
@import 'variables';
@import 'base';
@import 'switch';


.footer {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    padding-top: 5px;

    .attribution { 
        font-size: 11px;
        text-align: center; 
    
        a { 
            color: hsl(228, 45%, 44%); 
        }
    }
}
